@page
@model CourseRegProg.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>

    h1 {
        color: #493;
    }

    p {
        font-size: 18px;
    }
</style>

<h1>Assignment 1 - Course Registration Program</h1>
<p>This is my Course Registration prorgam. Access the navigation menu to access different views.</p>
